.clase1{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    align-content: center;
    margin-left: 35%;
    margin-top: 3%;
    background-color: bisque;
}
.clase2{
    width: 200px;
    height: 150px;
    border: 2px solid black;
}